.container{
    max-width: 40rem;
    margin: 0 auto;
}

.title{
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 300;
    text-align: center;

    @media screen and (max-width: 800px){
        font-size: 1.8rem;
        line-height: 2rem;
    }
    @media screen and (max-width: 500px){
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}